body {
  font-family: "Montserrat", sans-serif;
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #d3d3d3;
}

.calculator {
  background-color: #99ccff;
  padding: 25px;
  border-radius: 15px;
  width: 350px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}


.inputs input {
  margin-left: auto;
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  font-size: 18px;
  border-radius: 8px;
  border: 1px solid #aaa;
  box-sizing: border-box; 
}

.message {
  height: 20px;
  text-align: center;
  color: red;
  margin-bottom: 10px;
}

.buttons {
 display: flex;
  gap: 15px; 
}

.digits {
flex: 2;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.digit {
  flex: 1 1 30%;
  max-width: 80px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: none;
  background: #f0eded;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0,0,0,0.3);
  transition: all 0.2s ease;
}

.digit:hover {
  background-color: #cbc5c5;
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0,0,0,0.35);
}

.digits .zero {       
  max-width: 100%;        
  height: 70px;           
  border-radius: 35px;    
  font-size: 24px;
  background:#f0eded;;
  box-shadow: 0 4px 6px rgba(0,0,0,0.3);
  cursor: pointer;
  transition: all 0.2s ease;
}

.digit.zero:hover {
  background: #cbc5c5;
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0,0,0,0.35);
}

.operators {
 flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.op, #dot, #clear {
  padding: 12px 0;
  height: 42px;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: #409ce8;
  box-shadow: 0 4px 6px rgba(0,0,0,0.3);
  transition: all 0.2s ease;
}

 #clear:hover{
   background-color: #e23e3e;
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0,0,0,0.35)
 }

.op:hover, #dot:hover {
  background-color: #1260b9;
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0,0,0,0.35);
}


.result-container {
  margin-top: 20px;
  text-align: center;
  font-size: 20px;
  color: #333;
}
